* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.corpo {
    height: 500px;
    width: 500px;
    background-color: gray;
    position: relative;
    border-radius: 40%;

    
}

.olho-esq {
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    top: 80px;
    left: 80px;
    border-radius: 50%;

}

.olho-esq-det {
    height: 60px;
    width: 60px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 50%;
}

.olho-esq-det3 {
    height: 30px;
    width: 30px;
    background-color: black;
    position: absolute;
    top: 115px;
    left: 115px;
    border-radius: 50%;
}



.olho-dir {
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    top: 80px;
    right: 80px;
    border-radius: 50%;
}

.olho-dir-det {
    height: 100px;
    width: 100px;
    background-color: gray;
    position: absolute;
    top: 50px;
    right: 80px;
    border-radius: 50%;
}


.nariz {
    height: 80px;
    width: 100px;
    background-color: black;
    position: absolute;
    top: 210px;
    left: 200px;
}

.nariz-det {
    height: 54px;
    width: 40px;
    background-color: gray;
    position: absolute;
    top: 210px;
    left: 200px;
}
.nariz-det2 {
    height: 54px;
    width: 40px;
    background-color: gray;
    position: absolute;
    top: 210px;
    left: 260px;
}

.boca {
    height: 35px;
    width: 235px;
    background-color: black;
    position: absolute;
    top: 345px;
    left: 140px;
}